name: CI
on: [push, pull_request]
env:
    CI: 'true'
    LC_ALL: en_US.UTF-8
    LANG: en_US.UTF-8

jobs:
    test:
        name: Test on ${{ matrix.os }} Python ${{ matrix.pyver }})
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - { pyver: 2.7, os: ubuntu-latest }
                    - { pyver: 3.6, os: ubuntu-latest }
                    - { pyver: 3.8, os: ubuntu-latest }
                    - { pyver: 3.9, os: ubuntu-latest }
                    - { pyver: 3.10, os: ubuntu-latest }

                    - { pyver: 3.8, os: macos-latest }
                    - { pyver: 3.8, os: windows-latest }

        steps:
            - name: Checkout source code
              uses: actions/checkout@master
              with:
                fetch-depth: 10

            - name: Set up Python ${{ matrix.pyver }}
              uses: actions/setup-python@master
              with:
                python-version: ${{ matrix.pyver }}

            - name: Install dependencies
              run: python -m pip install chardet flake8

            - name: Check code quality
              run: flake8 src

            - name: Run tests
              run: python run_tests.py
